
body{
  background-color: pink;
  padding: 50px;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  border-left: 1px;
  border-color: #878787
}

h2 {
  text-align: center;
}

img {
 width: 200px;
 height: 200px;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 float: right;
 }
